#Temporary Merge Files
*.orig

#Windows Thumbnails
Thumbs.db

#Visual Studio Files
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.exp
*.sbr
*.sdf
*.opensdf
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal
obj/
[Rr]elease*/
_ReSharper*/

#QtCreator Files
.qmake.stash
build*/*
qrc_*.cpp

#Python Files
*.pyc
__pycache__*/
[Bb]uild
[Dd]ist
*.egg-info*/

#Include Setups
!Dist
Dist/*
!Dist/msvc2019_x64/
Dist/msvc2019_x64/*
!Dist/msvc2019_x64/Release/
Dist/msvc2019_x64/Release/*
!Dist/msvc2019_x64/Release/ZSAppTrcMthClient/
Dist/msvc2019_x64/Release/ZSAppTrcMthClient/*
!Dist/msvc2019_x64/Release/ZSAppTrcMthClient/ZSAppTrcMthClient-Setup.exe

#Generated Make Files
*.db
Makefile
Makefile.*

#Output Directories
/Bin
/Config
/Lib
/Log
/Tmp
/Doc/html
/Doc/latex

#Generated header and resource files
/Include/Libs/ZSSys/ZSSysVersion.h
/Source/Libs/ZSSys/ZSSysVersion.rc

#Explizit
#RemoteRepositories.txt
#Remote Repositories.txt
