#Temporary Merge Files
*.orig

#Windows Thumbnails
Thumbs.db

#Visual Studio Files
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.ipch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.exp
*.sbr
*.sdf
*.opensdf
*.VC.opendb
*.VC.db
*.VC.db-shm
*.VC.db-wal
obj/
[Rr]elease*/
_ReSharper*/

#QtCreator Files
.qmake.stash
build*/*
qrc_*.cpp

#Python Files
*.pyc
__pycache__*/
*.egg-info*/

#Include Setups
#!Dist
#Dist/*
#!Dist/msvc2019_x64/
#Dist/msvc2019_x64/*
#!Dist/msvc2019_x64/Release/
#Dist/msvc2019_x64/Release/*
#!Dist/msvc2019_x64/Release/ZSAppTrcMthClient/
#Dist/msvc2019_x64/Release/ZSAppTrcMthClient/*
#!Dist/msvc2019_x64/Release/ZSAppTrcMthClient/ZSAppTrcMthClient-Setup.exe

#Generated Make Files
*.db
Makefile
Makefile.*

#Output Directories
[Bb]in
[Bb]uild
[Dd]ist
[Dd]eploy
/Bin
/Config
/Lib
/Log
/Tmp
/Doc/html
/Doc/latex

#Generated header and resource files
/Include/Libs/ZSSys/ZSSysVersion.h
/Include/Apps/Test/ZSIpcTrace/TestConfig.h
/Include/Apps/Test/ZSIpcTraceDllIfQtApp/TestConfig.h
/Resources/Libs/ZSSys/ZSSysVersion.rc
/Make/Apps/Products/ZSTrcMthClient/Installer/config/config.xml
/Make/Apps/Products/ZSTrcMthClient/Installer/packages/de.zeussoft.TrcMthClient/meta/installscript.qs
/Make/Apps/Products/ZSTrcMthClient/Installer/packages/de.zeussoft.TrcMthClient/meta/license.txt
/Make/Apps/Products/ZSTrcMthClient/Installer/packages/de.zeussoft.TrcMthClient/meta/package.xml
/Make/Apps/Products/ZSTrcMthClient/Installer/packages/de.zeussoft.TrcMthClient/data/*

#Explizit
#RemoteRepositories.txt
#Remote Repositories.txt
