#if defined(__MINGW64__) || defined(__MINGW32__)
    #if defined(__has_include) && __has_include(<winres.h>)
        #include <winres.h>
    #else
        #include <afxres.h>
        #include <winresrc.h>
    #endif
#else
    #include <winres.h>
#endif

#define VER_BETA_VERSION 30

#define VER_FILEVERSION              1,0,0,0
#define VER_FILEVERSION_STR         "v1.0.0-30-gab80cb3\0"
#define VER_PRODUCTVERSION           1,0,0,0

#if VER_BETA_VERSION
#define VER_PRODUCTVERSION_STR      "1.0.0\0"
#else
#define VER_PRODUCTVERSION_STR      "BETA Version - gab80cb3\0"
#endif

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#define VER_COMPANYNAME_STR         "ZeusSoft"
#define VER_FILEDESCRIPTION_STR     "ZeusSoft ZSQtLib"
#define VER_INTERNALNAME_STR        ""
#define VER_LEGALCOPYRIGHT_STR      "(C) 2022 ZeusSoft"
#define VER_LEGALTRADEMARKS1_STR    ""
#define VER_LEGALTRADEMARKS2_STR    ""
#define VER_ORIGINALFILENAME_STR    ""
#define VER_PRODUCTNAME_STR         "ZeusSoft ZSQtLib"


VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_DEBUG
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "LegalTrademarks1", VER_LEGALTRADEMARKS1_STR
            VALUE "LegalTrademarks2", VER_LEGALTRADEMARKS2_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
